STed2Mac.xcodeproj/project.xcworkspace/contents.xcworkspacedata
STed2Mac.xcodeproj/xcshareddata/xcschemes/STed2Mac.xcscheme
STed2Mac.xcodeproj/project.xcworkspace/xcuserdata/ogaawa.xcuserdatad/UserInterfaceState.xcuserstate
STed2Mac.xcodeproj/xcuserdata/
sted2/sub/aqua/.DS_Store
build/Debug/
build/SharedPrecompiledHeaders/
build/STed2Mac.build/
build/XCBuildData/
sted2/.DS_Store
.DS_Store
