STed2Mac.xcodeproj/project.xcworkspace/contents.xcworkspacedata
STed2Mac.xcodeproj/project.xcworkspace/xcuserdata/ogaawa.xcuserdatad/UserInterfaceState.xcuserstate
STed2Mac.xcodeproj/xcuserdata/ogaawa.xcuserdatad/xcschemes/xcschememanagement.plist
sted2/sub/aqua/.DS_Store
build/Debug/.DS_Store
build/SharedPrecompiledHeaders/.DS_Store
build/STed2Mac.build/.DS_Store
build/XCBuildData/.DS_Store
sted2/.DS_Store
.DS_Store
